<div class="container mt-5">
  <h1><%= @list.name %></h1>
  <% @list.bookmarks.each do |bookmark| %>
    <p><%= bookmark.comment %></p>
    <p><%= bookmark.movie.title %></p>
  <% end %>
  <%= link_to "Back to index", :lists %>
</div>
